<div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Register </h4>
        </div>
	<form action = ""/>
        <div class="modal-body">
		<input type="text" class="form-control" name="username" ng-model="username" placeholder="Username"/>
		<input type="text" class="form-control" name="email" ng-model="email" placeholder="E-mail"/>
		<input type="text" class="form-control" name="phone" ng-model="phone" placeholder="Phone"/>
		<input type="password" class="form-control" name="password" ng-model="password" placeholder="Password"/>
		<input type="password" class="form-control" name="password" ng-model="repassword" placeholder="Re-Password"/>
        </div>
        <div class="modal-footer">
	  <input type="submit" class="btn btn-default" ng-submit="validateregister()" value="Submit"/>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
	</form>
      </div>
    </div>
  </div>
</div>
