<div style="position:absolute;display:block;left:0;top:30%;width:8%;height:40%;opacity:0.6;">
	<img src="img/leftarrow.png" style="width:100%;height:100%;"/>
</div>
<div style="position:absolute;display:block;right:0;top:30%;width:8%;height:40%;opacity:0.6;">
	<img src="img/rightarrow.png" style="width:100%;height:100%;"/>
</div>
<div style="position:absolute;display:block;right:0;top:85%;background-color:blue;width:30%;height:8%;text-align:center;padding-top:1%;opacity:0.6;">
	Watch Trailer
</div>
<div style="position:absolute;display:block;right:10%;top:70%;background-color:blue;width:20%;height:8%;text-align:center;padding-top:1%;opacity:0.6;">
	Review it
</div>
<div style="position:absolute;display:block;left:0;top:85%;background-color:blue;width:40%;height:8%;text-align:center;padding-top:1%;opacity:0.6;">
	Rate it
</div>
