<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>

<body class = "cbody" ng-app="myApp" ng-controller="myCtrl">

	<header class="header">
		<% include ../partials/header %>
	</header>
        <div class="main">
		<div class="leftsidebar">
		<% include ../partials/leftsidebar %>
		</div>
		<div class="recent">
		<% include ../partials/recent %>
		</div>
		<div class="rightsidebar">
		<% include ../partials/rightsidebar %>		
		</div>
		<div class="year1">
		<% include ../partials/year1 %>
		</div>
		<div class="year2">
		<% include ../partials/year21 %>
		</div>
		<div class="year2">
		<% include ../partials/year22 %>
		</div>
		<div class="year1">
		<% include ../partials/year2 %>
		</div>
	</div>	
        <footer>
		<% include ../partials/footer %>
	</footer>
	<% include ../partials/modalforlogin %>
	<% include ../partials/modalforregister %>
</body>
</html>
